*
!artisan
!composer.json
!composer.lock
!app/
!app/**
!bootstrap/
!bootstrap/app.php
!bootstrap/providers.php
!config/
!config/**
!database/
!database/migrations/
!database/migrations/**
!routes/
!routes/**
!resources/
!resources/views/
!resources/views/**
!public/
!public/index.php
bootstrap/cache/**
.env*
